header, section, footer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 100px;
    background: -webkit-linear-gradient(left,rgb(251, 113, 136) 70%, rgb(251, 197, 206));
    position: sticky;
    top: 0;
    border-bottom: 2px purple solid;
    z-index: 1000;
}

#botonera {
    width: 570px;
    height: 40px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
#botonera ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#botonera ul li{
    flex-grow: 1;
    text-align: center;
}

#botonera ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: purple;
}
#botonera ul li a:hover{background-color: rgb(253, 155, 171);}

#logo {
    width: 150px;
    height: 100px;
    float: left;
    border-left: 2px purple solid;

}
#img1{width: 130px;
    height: 98px;
}

#datos {
    width: 180px;
    height: 100px;
    float: right;
    text-align: right;
    border-left: 2px purple solid;
    border-right: 2px purple solid;
    font-size: 0.9em;
}
#datos p a {
    text-decoration: none;
    color: purple;
}
#ig{
    width: 15px;
    height: 15px;
}

#wsp{
    width: 15px;
    height: 15px;
    margin-top: 3px ;
}
.text_rosa{color: purple;
    margin-top: 20px;
}


/* SECCION A */


#sa {
    height: 600px;
    background: url(imagenes/fondococina.jfif);
    padding-top: 100px;
}

#secciona1 {
    width: 900px;
    height: 500px;
    background:url(imagenes/fondo5.jfif)no-repeat, url(imagenes/foto\ cabecera.jfif)no-repeat right;
    background-size: 50%;
    margin: 30px;
    padding-bottom: 35px;
    float: left;
    border: 2px purple solid;
}


#titulo {
    width: 550px;
    height: 50px;
    text-align: center;
    background: -webkit-linear-gradient(left, rgb(251, 197, 206)70%, rgb(251, 113, 136));
    margin-left: 170px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
}



#pastelera{
    width: 200px;
    height: 300px;
    background:url(imagenes/fotopastelera.jfif)no-repeat;
    background-size: cover;
    margin-left: 350px;
    margin-top: 70px;
    border: 2px purple solid;
}


/* SECCION B */



#sb {
    height: 2800px;
    background: url(imagenes/fondococina.jfif);
    padding-top: 1px ;
}

#idredes {
    width: 300px;
    height: 220px;
    background: url(imagenes/Agenda2.jpg);
    margin-left: 12px;
    margin-bottom: 10px;
    padding-left: 40px;
    border: 2px purple solid;
    margin-top: 40px;
    font-size: 0.8em;
}


#noticias{
    width: 960px;
    height: 250px;
    background:url(imagenes/mundo.jfif);
    background-size: cover;
    margin-top: 0px;
    border-top: 3px green outset;
    border-bottom: 3px green outset;
}

#noticias h2 {
    margin-left: 10px;
    color: wheat;
}

#id1{
    width: 220px;
    height: 120px;
    background:url(imagenes/Rosario.png);
    background-size: cover;
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    border: 2px wheat outset;
}

#id2{
    width: 220px;
    height: 120px;
    background: url(imagenes/BsAsCABA.jfif) no-repeat center;
    background-size: cover;
    float: right;
    margin-right: 120px;
    margin-top: 0px;
    border: 2px wheat outset;
}

#id3{
    width: 220px;
    height: 120px;
    background:url(imagenes/Cordoba1.jfif) no-repeat center;
    background-size: cover;
    margin-left: 30px;
    margin-top: 40px;
    border: 2px wheat outset;
}

#tortas{
    width: 960px;
    height: 40px;
    background: -webkit-linear-gradient(left,rgb(251, 113, 136) 70%, rgb(251, 197, 206));
    margin-top: 10px;
    border: 2px rgb(251, 113, 136) outset ;
}
#textos__tortas {
    color: aliceblue;
    text-align: center;
    font-size: 1.8em;
}

/*imagenes de tortas*/

#caja1{
    width: 960px;
    height: 330px;
}
#rogel_txt{
    width: 300px;
    height: 30px;
    background: -webkit-linear-gradient(left,rgb(251, 113, 136) 70%, rgb(251, 197, 206));
    margin-top: 50px;
    margin-left: 50px;
    border-top: 2px rgb(251, 113, 136) outset ;
    border-right: 2px rgb(251, 113, 136) outset ;
    border-left: 2px rgb(251, 113, 136) outset ;
}
#tofi_txt{
    width: 300px;
    height: 30px;
    background: -webkit-linear-gradient(left,rgb(251, 113, 136) 70%, rgb(251, 197, 206));
    margin-top: 50px;
    margin-left: 560px;
    border-top: 2px rgb(251, 113, 136) outset ;
    border-right: 2px rgb(251, 113, 136) outset ;
    border-left: 2px rgb(251, 113, 136) outset ;
}
#rogel_txt p{
    color: aliceblue;
    text-align: center;
    font-size: 1.3em;
}

#tofi_txt p{
    color: aliceblue;
    text-align: center;
    font-size: 1.3em;
}




#rogel,#rogel1{
    width: 400px;
    height: 210px;
    margin-top: 0px;
    margin-left:50px;
    float: left;
}

#caja2{
    width: 960px;
    height: 330px;
}

#tofi,#tofi1{
    width: 400px;
    height: 210px;
    margin-top: 0px;
    margin-left: 50px;
    float: right;
}

#caja3{
    width: 960px;
    height: 330px;
}

#brownie,#brownie1{
    width: 400px;
    height: 210px;
    margin-top: 0px;
    margin-left: 50px;
    float: left;
}

#caja4{
    width: 960px;
    height: 330px;
}

#coco,#coco1{
    width: 400px;
    height: 210px;
    margin-top: 0px;
    margin-left: 50px;
    float: right;
}

#caja5{
    width: 960px;
    height: 330px;
}

#pastafrola,#pastafrola1{
    width: 400px;
    height: 210px;
    margin-top: 0px;
    margin-left: 50px;
    float: left;
}

#caja6{
    width: 960px;
    height: 330px;
}

#frutal,#frutal1{
    width: 400px;
    height: 210px;
    margin-top: 0px;
    margin-left: 50px;
    float: right;
}


.textos{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
}
.textos_abajo{
    line-height: 0;
    margin-top: 20%;
    font-size: 20px;
}
.textos_arriba{
    text-align: right;
}
.cerrar{
    color: black;
    text-decoration:none;
}

#tet {
    width: 400px;
    height: 250px;
    background: -webkit-linear-gradient(left,rgb(251, 113, 136) 30%, rgb(251, 197, 206));
    border: 2px rgb(251, 113, 136) outset ;
}



/*todavia no tocar*/

#rogel img {
    width: 300px;
    height: 250px;
    border: 2px rgb(251, 113, 136) outset ;
}
#tofi img{
    width: 300px;
    height: 250px;
    border: 2px rgb(251, 113, 136) outset ;
}
#brownie img{
    width: 300px;
    height: 250px;
    border: 2px rgb(251, 113, 136) outset ;
}

#coco img{
    width: 300px;
    height: 250px;
    border: 2px rgb(251, 113, 136) outset ;
}

#frutal img {
    width: 300px;
    height: 250px;
    border: 2px rgb(251, 113, 136) outset ;
}

#pastafrola img {
    width: 300px;
    height: 250px;
    border: 2px rgb(251, 113, 136) outset ;
}

#rogel1 img{
    width: 300px;
    height: 250px;
}


#tofi1 img{
    width: 300px;
    height: 250px;
}

#brownie1 img{
    width: 300px;
    height: 250px;
}

#coco1 img{
    width: 300px;
    height: 250px;
}

#pastafrola1 img{
    width: 300px;
    height: 250px;
}

#frutal1 img{
    width: 300px;
    height: 250px;
}

/*fin de las imagenes de tortas*/


/* SECCION C */

#sc {
    height: 1250px;
    background: url(imagenes/fondococina.jfif);
}


#col1 {
    height: 40px;
    background: -webkit-linear-gradient(left,rgb(251, 113, 136) 70%, rgb(251, 197, 206));
    border: 2px rgb(251, 113, 136) outset ;
    margin-top: 10px;
}
#col1 h3{
    text-align: center;
    color: aliceblue;
}


#col2 {
    height: 250px;

    margin-top: 30px;
}
#col2 img {
    height: 90%;
    margin-top: 10px;
    margin-left: 5px;
}
#col3 {
    height: 250px;

    margin-top: 30px;
}
#col3 img {
    height: 90%;
    margin-top: 10px;
    margin-left: 5px;
}
#col4 {
    height: 560px;
    background: -webkit-radial-gradient(left,rgb(251, 113, 136) 50%, rgb(251, 197, 206));
    margin-top: 30px;
    padding-top: 15px;
    border: 3px purple outset ;
}
#col5 {
    height: 250px;
    background: -webkit-radial-gradient(left,rgb(251, 113, 136) 50%, rgb(251, 197, 206));
    margin-top: 50px;
    border: 3px purple outset ;
}

#col5 textarea {
    margin-bottom: 20px;
    padding-bottom: 60px 
}
#fnd{
    height: 30px;
    width: 200px;
    margin-bottom: 30px;
    text-align: center;
}
.colorcard {
    background: -webkit-radial-gradient(left,rgb(251, 113, 136) 50%, rgb(251, 197, 206));
}
.colorbtn{
    background-color: blueviolet;
}
.colorbtn:hover{
    background-color: rgb(182, 122, 238);
}

/* SECCION D */

#sd {
    height: 2000px;
    background: url(imagenes/fondococina.jfif);
    padding-top: 1px;
}

#promocion{
    width: 500px;
    height: auto;
    margin-left: 230px;
    margin-top: 0px;
    border-right: 2px rgb(251, 113, 136) outset ;
    border-left: 2px rgb(251, 113, 136) outset ;
    border-bottom: 2px rgb(251, 113, 136) outset ;
}
#postres {
    width: 560px;
    height: 40px;
    background: -webkit-linear-gradient(left,rgb(251, 113, 136) 70%, rgb(251, 197, 206));
    margin-top: 50px;
    margin-left: 200px;
    border: 2px rgb(251, 113, 136) outset ;
}
#postre {
    width: 100%;
    height: 210px;
}


#link {
    width: 300px;
    height: 400px;
    float: right;
    margin-top: 100px;
    margin-right: 170px;
}

#link2 {
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-left: 170px;
}


footer {
    height: 500px;
    background-color: rgb(55, 209, 157);
    padding-top: 3px;
} 

#descarga {
    width: 960px;
    height: 80px;

}

#playstore {
    width: 100px;
    height: 70px;

    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
#playstore img{
    width: 100%;
    height: 100%;
}

#ayuda {
    width: 960px;
    height: 80px;
    background-color: rgb(48, 169, 129);
    margin-top: 30px;

}
#botonerafooter {
    width: 570px;
    height: 40px;
    float: left;
    margin-left: 205px;
    margin-right: 20px;
    margin-top: 30px;
}
#botonerafooter ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#botonerafooter ul li{
    flex-grow: 1;
    text-align: center;
}

#botonerafooter ul li a{
    display: block;
    text-decoration: none;
    padding: 0px;
    color: aliceblue;
    font-size: 1.1em;
}

#permisos {
    width: 480px;
    height: 340px;

    margin-left: 250px;
    float: left;
}

#logotipo {
    width: 100px;
    height: 100px;

    margin-top: 30px;
    margin-left: 190px;
}
#igfooter {
    width: 100px;
    height: 100px;
}

#atp {
    width: 350px;
    height: 120px;

    margin-top: 65px;
    margin-left: 65px;
    text-align: center;
}
#mediosdepago {
    height: 40px;

    margin-top: 20px;
}
#mediosdepago img {
    width: 100%;
    height: 100%;
}
#mediosdepago2 {
    height: 40px;

    margin-top: 20px;
}
#mediosdepago2 img {
    width: 100%;
    height: 100%;
}
#mediosdepago3 {
    height: 40px;
    margin-top: 20px;
}
#mediosdepago3 img {
    width: 100%;
    height: 100%;
}
#mediosdepago4 {
    height: 40px;
    margin-top: 20px;
}
#mediosdepago4 img {
    width: 100%;
    height: 100%;
}





@media all and (min-width:1024px) and (max-width:1200px) {
    #sc {
        height: auto;
    }
}


@media all and (min-width:600px) and (max-width:1023px) {

    header, section, footer{
        width: 580px;
    }
    #botonera {
        width: 200px;
        margin-left: 40px;
        font-size: 0.9em;
    }
    #botonera ul li a{
    padding: 4px;
    }
    #logo {
        width: 120px;
    }
    #img1{
    width: 100px;
    }
    #datos {
        width: 160px;
        font-size: 0.8em;
    }
    #ig{
        width: 15px;
    }
    #wsp{
        width: 15px;
    }
    #secciona1 {
        width: 515px;
        height: 480px;
        background:url(imagenes/fondo5.jfif)content-box no-repeat left, url(imagenes/foto\ cabecera.jfif)content-box no-repeat right;
        background-size:50% 100%;
        padding-bottom: 0px;
    }
    #titulo {
        width: 500px;
        height: 40px;
        margin-left: 7.5px;
    }
    #pastelera{
        width: 150px;
        height: 250px;
        margin-left: 180px;
    }

    /*SECCION B*/
    #sb {
        height: 2950px;
    }
    #idredes {
        width: 50%;
        padding-top: 10px;
    }
    
    #noticias{
        width: 100%;
        height: 360px;
    }
    #id1{
        height: 120px;
        margin-right: 5px;
        margin-top: 20px;
    }
    #id2{
        height: 120px;
        margin-right: -40px;
        margin-top: 160px;
    }
    #id3{
        height: 120px;
        margin-left: 5px;
        margin-top: 20px;
    }

    #tortas{
        width: 99.5%;
    }

    /*CAJAS E IMAGENES*/
    #caja1{
        width: 100%;
    }

    #rogel_txt{
        width: 40%;
    }
    #tofi_txt{
        width: 40%;
        margin-left: 60%;
    }
    
    #rogel,#rogel1{
        width: 40%;
        height: 150px;
    }
    
    #caja2{
        width: 99%;
    }
    
    #tofi,#tofi1{
        width: 40%;
        height: 150px;
    }
    
    #caja3{
        width: 100%;
    }
    
    #brownie,#brownie1{
        width: 40%;
        height: 210px;
    }
    
    #caja4{
        width: 99%;
    }
    
    #coco,#coco1{
        width: 40%;
        height: 150px;
    }
    
    #caja5{
        width: 100%;
    }
    
    #pastafrola,#pastafrola1{
        width: 40%;
        height: 210px;
    }
    
    #caja6{
        width: 99%;
    }
    
    #frutal,#frutal1{
        width: 40%;
        height: 150px;
    }
    
    #tet {
        width: 100%;
        font-size: 0.9em;
    }
    
    .textos{
        color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 10%;
    }
    .textos_abajo{
        line-height: 0;
        margin-top: 20%;
        font-size: 1.3em;
    }
    
    /*todavia no tocar*/
    
    #rogel img {
        width: 100%;
        height: 250px;
    }
    #tofi img{
        width: 100%;
        height: 250px;
    }
    #brownie img{
        width: 100%;
        height: 250px;
    }
    
    #coco img{
        width: 100%;
        height: 250px;
    }
    
    #frutal img {
        width: 100%;
        height: 250px;
    }
    
    #pastafrola img {
        width: 100%;
        height: 250px;
    }
    
    /*FONDO BLANCO*/

    #rogel1 img{
        width: 100%;
        height: 250px;
    }
    
    #tofi1 img{
        width: 100%;
        height: 250px;
    }
    
    #brownie1 img{
        width: 100%;
        height: 250px;
    }
    
    #coco1 img{
        width: 100%;
        height: 250px;
    }
    
    #pastafrola1 img{
        width: 100%;
        height: 250px;
    }
    
    #frutal1 img{
        width: 100%;
        height: 250px;
    }
    /* SECCION C */
    #sc{
        height: auto;
    }
    #col4 {
        height: 580px;
    }
    #col5 {
        height: auto;
        margin-top: 50px;
    }
    #col2 {
        height: 100%;
    
        margin-top: 30px;
    }
    #col3 {
        height: 100%;
    
        margin-top: 30px;
    }
    
    #col2 img {
        height: 90%;
        margin-top: 10px;
        margin-left: 5px;
    }
    #col3 img {
        height: 90%;
        margin-top: 10px;
        margin-left: 5px;
    }
    /* SECCION D */

    #sd {
        height: 3200px;
    }

    #promocion{
        width: 500px;
        margin-left: 40px;
    }
    #promocion{
        width: 500px;
        height: 332px;
        margin-left: 7%;
        margin-top: 0px;
        border-right: 2px rgb(251, 113, 136) outset ;
        border-left: 2px rgb(251, 113, 136) outset ;
    }

    #postres {
        width: 560px;
        height: 40px;
        background: -webkit-linear-gradient(left,rgb(251, 113, 136) 70%, rgb(251, 197, 206));
        margin-top: 50px;
        margin-left: 2%;
        border: 2px rgb(251, 113, 136) outset ;
    }


    #postre {
        width: 100%;
        height: 210px;
    }
    #link {
        width: 220px;
        height: auto;
        margin: 70px auto;
        float: none;
    }
    #link2 {
        width: 220px;
        height: auto;
        margin: 70px auto;
    }
    footer {
        height: 500px;

    } 
    #descarga {
        width: 580px;
    }
    #ayuda {
        width: 580px;
    }
    #botonerafooter {
        width: 100%;
        margin-left: 0px;
    }

    #permisos {
        margin-left: 50px;
    }
}





@media all and (min-width:600px) and (max-width:767px) {
    #sc {
        height: auto;
    }
    #col4{
        height: auto;
    }
}



@media all and (max-width:599px) {

    header, section, footer{
        width: 100%;
    }
    header {
        height: auto;
        position: relative;
        top: 0;
    }
    
    #botonera {
        width: 100% ;
        height: auto;
        float: none;
        margin-top: 0px;
    }
    #botonera ul{
        display: inline-block;
    }
    
    #botonera ul li{
        flex-grow: 1;
        text-align: center;
    }
    
    #botonera ul li a{
        display: block;
        text-decoration: none;
        padding: 10px;
    }
    #botonera ul li a:hover{
        background-color: rgb(253, 155, 171);}
    
    #logo {
        width: 190px;
        height: 220px;
        float: left;
        border-left: 2px purple solid;
    }
    #img1{
        width: 140px;
        height: 100%;
        
        }
    
    #datos {
        background:-webkit-linear-gradient(left,rgb(251, 113, 136,0.5) 30%, rgba(251, 197, 206,0.5));
        border-bottom: 2px purple solid;
        border-top: 2px purple solid;
    }
    
    #sa {
        height: 100%;
        background: url(imagenes/fondococina.jfif);
        padding-top: 100px;
        padding-bottom: 25px;
    }
    #secciona1 {
        width: 90%;
        height: 390px;
        background:url(imagenes/fondo5.jfif)no-repeat, url(imagenes/foto\ cabecera.jfif) no-repeat none;
        background-size: cover;
        margin: 20px auto;
        padding-bottom: 30px;
        float: none;
    }
    #titulo {
        width: 100%;
        height: 30px;
        margin: 10px auto;
        font-size: small;
    }
    #titulo h1 {
        font-size: 1.3em;
    }
    #pastelera{
        width: 30%;
        height: 120px;
        margin: 228px -2px 100px;
    }

    /*SECCION B*/
    #sb{
        height: 3050px;
    }
    #idredes {
        width: 60%;
        padding-top: 10px;
    }
    #noticias{
        width: 100%;
        height: 470px;
    }
    
    #id1{
        width: 70%;
        height: 110px;
        float: none;
        margin: 20px auto;
    }
    
    #id2{
        width: 70%;
        height: 110px;
        float: none;
        margin: 20px auto;
    }
    
    #id3{
        width: 70%;
        height: 110px;
        margin: 20px auto;
    }

    #tortas{
        width: 99.5%;
    }

/*imagenes de tortas*/

#caja1{
    width: 100%;
    height: 330px;
}

#rogel_txt{
    width: 35%;
}
#tofi_txt{
    width: 35%;
    margin-left: 65%;
}

#rogel,#rogel1{
    width: 35%;
    height: 180px;
}

#caja2{
    width: 99%;
    height: 330px;
}

#tofi,#tofi1{
    width: 35%;
    height: 180px;
}

#caja3{
    width: 100%;
    height: 330px;
}

#brownie,#brownie1{
    width: 35%;
    height: 180px;

}

#caja4{
    width: 99%;
    height: 330px;
}

#coco,#coco1{
    width: 35%;
    height: 180px;

}

#caja5{
    width: 100%;
    height: 330px;
}

#pastafrola,#pastafrola1{
    width: 35%;
    height: 180px;
}

#caja6{
    width: 99%;
    height: 330px;
}

#frutal,#frutal1{
    width: 35%;
    height: 180px;
}

#tet {
    width: 100%;
}

.textos{
    font-size: 15px;
}
.textos_abajo{
    font-size: 15px;
}

/*todavia no tocar*/

#rogel img {
    width: 100%;
    height: 100%;
}
#tofi img{
    width: 100%;
    height: 100%;
}
#brownie img{
    width: 100%;
    height: 100%;
}

#coco img{
    width: 100%;
    height: 100%;
}

#frutal img {
    width: 100%;
    height: 100%;
}

#pastafrola img {
    width: 100%;
    height: 100%;
}

/*FONDO BLANCO*/

#rogel1 img{
    width: 100%;
    height: 100%;
}

#tofi1 img{
    width: 100%;
    height: 100%;
}

#brownie1 img{
    width: 100%;
    height: 100%;
}

#coco1 img{
    width: 100%;
    height: 100%;
}

#pastafrola1 img{
    width: 100%;
    height: 100%;
}

#frutal1 img{
    width: 100%;
    height: 100%;
}

/*fin de las imagenes de tortas*/



    /*SECCION C*/
    #sc{
        height: auto;
    }
    #col1 {
        height: 40px;
    }
    #col2 {
        height: auto;
        margin-top: 30px;
    }
    #col2 img {
        height: 100%;
    }
    #col3 {
        height: auto;
        margin-top: 30px;
    }

    #col3 img {
        height: 90%;
    }

    #col4 {
        height: auto;
    }
    #col5 {
        height: auto;
        width: auto;
    }


    #fnd{
        height: auto;
        width: auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .colorbtn{
        background-color: blueviolet;
    }
    .colorbtn:hover{
        background-color: rgb(182, 122, 238);
    }

    /* SECCION D */
    #sd {
        height: auto;
        padding-bottom: 1%;
    }


    
    #promocion{
        width: 90%;
        height: auto;
        margin: 0px auto;
        border-right: 2px rgb(251, 113, 136) outset ;
        border-left: 2px rgb(251, 113, 136) outset ;
        border-bottom: 2px rgb(251, 113, 136) outset ;
    }
    #postres {
        width: 100%;
        height: 40px;
        background: -webkit-linear-gradient(left,rgb(251, 113, 136) 70%, rgb(251, 197, 206));
        margin-top: 50px;
        margin-left: 0px;
        border: 2px rgb(251, 113, 136) outset ;
    }
    #postre {
        width: 100%;
        height: 210px;
    }


    #link {
        width: 65%;
        float: none;
        margin: 20px auto;
    }
    
    #link2 {
        width: 65%;
        margin: 20px auto;
    }
    
    #link3 {
        width: 30%;
        margin-top: 200px;
        margin-left: auto;
    }
    
    footer {
        height: auto;
        position: relative;
        top: 0;
    } 
    

    

    
    #ayuda {
        width: 100%;
        height: auto;

    }
    #botonerafooter {
        width: 100% ;
        height: 100%;
        float: none;
        margin:60px auto;
        text-align: center;
    }
    #botonerafooter ul{
        display: inline-block;
    }
    
    #botonerafooter ul li{
        flex-grow: 1;
        text-align: left;
    }
    
    #botonerafooter ul li a{
        display: block;
        text-decoration: none;
        padding: 10px;
    }

    
    #permisos {
        width: 95%;
        height: 340px;
        margin: 20px auto;
        float: none;
    }
    
    #logotipo {
        width: 25%;
        height: 100px;
        margin: 20px auto;
    }
    
    #atp {
        width: 75%;
        height: 120px;
        margin: 60px auto;
    }


    #mediosdepago {
        height: auto;
        width: 20%;
        margin-top: 20px;
    }
    #mediosdepago img {
        width: 100%;
        height: 100%;
    }
    #mediosdepago2 {
        height: auto;
        width: 20%;
        margin-top: 20px;
    }
    #mediosdepago2 img {
        width: 100%;
        height: 100%;
    }
    #mediosdepago3 {
        height: auto;
        width: 20%;
        margin-top: 20px;
    }
    #mediosdepago3 img {
        width: 100%;
        height: 100%;
    }
    #mediosdepago4 {
        height: auto;
        width: 20%;
        margin-top: 20px;
    }
    #mediosdepago4 img {
        width: 100%;
        height: 100%;
    }

}






